__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
htmlcov/
tests/
.venv/
*.egg-info/
.git/
.gitignore
Dockerfile
.dockerignore
README.md
pyproject.toml
requirements-dev.txt
